:root {
  --color-blue: #2f80ed;
  --color-grey: #f2f2f2;
  --color-dark-grey: #1f1f1f;
  --color-black: #000;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit
}

/* Обнуление margin и padding */
.extra-space-reset {
  padding: 0;
  margin: 0;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.centered-block {
  margin: auto;
}

.centered-block_horisontally {
  margin: 0 auto;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Шапка */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding-left: 64px;
  position: relative;
  background-color: var(--color-grey) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
  color: var(--color-blue);
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: var(--color-blue);
}


/* Логотип */

.logo {
  width: 183px;
  height: 32px;
  position: absolute;
}

.logo_place_header {
  top: 30px;
  left: 64px;
}

/* Description */

.description {
  padding: 100px 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--color-blue);
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__paragraph:not(:last-child) {
  padding-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* Шапка секции */

.section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

/* Digits */

.digits {
  padding: 100px 0;
}

.digits__title {
  margin-bottom: 20px;
}


.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.tadle__text {
  font-weight: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.table__text:not(:last-child) {
  padding-bottom: 20px;
}


/* Feynman */

.feynman {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 890px;
  background-color: var(--color-grey);
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  position: relative;
}

.feynman__title {
  width: 648px;
  text-align: center;
  margin-bottom: 70px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: var(--color-blue);
  text-decoration: none;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;

}
