.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  opacity: 1;
  transition: opacity .5s;
  align-self: flex-start;

}

.khan__buy-link:hover {
  opacity: .7;
}
